@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.wrapp-programms
		max-width: 970px
		.programms
			li
				&:last-child
					min-width: 10px
				&:nth-child(3)
					min-width: 10px
				&:nth-child(5)
					min-width: 145px
	.menu
		.wrapper
			max-width: 970px
			margin: 0 auto
			padding: 0 15px
	.wrapp-form
		&__info
			&-text
				width: 465px
		&__form
			.form-text
				height: 130px
				width: 245px
				resize: none
	/**/

@media only screen and (max-width : 1140px)
	.wrapp-programms-scroll
		margin-bottom: -70px
		.scrollframe-container
			width: auto
			margin: 0 auto
			.scrollbar
				display: block
	ul.slimmenu
		width: 100%
		margin: 0
		padding-left: 10px
		li
			.has-submenu:hover
				> .sub-toggle
					> i
						transform: none
	.wrapp-menu
		padding: 0
	.wrapp-dominance
		width: auto
		&__list-item
			padding: 0 10px
	/**/

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.wrapp-programms
		max-width: 750px
		.programms
			li
				&:last-child
					min-width: 10px
				&:nth-child(3)
					min-width: 10px
				&:nth-child(5)
					min-width: 145px
	.menu
		.wrapper
			max-width: 750px
	.wrapp-dominance
		&__list
			display: none
	.owl-carousel
		display: block !important

	/**/
@media only screen and (max-width : 991px)
	.menu-collapser
		.search-input-m
			display: block
	.wrapp-form
		&__info
			&-text
				width: 390px
	/**/

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.wrapp-logo
		&__logo
			text-align: center
			margin-bottom: 25px
		.metro
			margin-bottom: 25px
		.contacts
			text-align: center
	.wrapp-questions
		&__number
			li
				padding: 15px 15px 15px 55px
	.owl-carousel
		.owl-item
			.item
				padding: 0 15px
	.wrapp-form
		margin-top: 70px
		&__info
			width: auto
			height: auto
			float: none
			padding: 20px 0
			&-text
				float: none
				margin-top: 0
				margin-bottom: 0
				width: auto
				padding-bottom: 0
				border-bottom: none
				margin-left: 80px
		&__form
			float: none
			width: auto
			padding-top: 30px
			height: auto
			padding-bottom: 20px
			input, textarea
				margin-left: 80px
				margin-top: 20px
			.form-text
				width: 370px
			.text-agreement
				margin-left: 80px
			.form-name
				margin-top: 0
	.header__logo
		justify-content: center
		&-text
			max-width: 171px
	.mosmetro
		&__list
			width: 179px
			margin: 25px auto
	/**/

@media only screen and (max-width : 582px)
	.wrapp-banner
		&__title
			font-size: 36px
	.owl-carousel
		.owl-item
			.item
				padding: 0 50px
	.wrapp-simple
		&__list
			padding: 50px 15px
	/**/
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.wrapp-questions
		&__title
			font-size: 20px
	.wrapp-banner
		&__title
			font-size: 30px
	.owl-carousel
		.owl-item
			.item
				padding: 0 30px
	.wrapp-form
		&__info
			&-text
				margin-left: 70px
				font-size: 20px
		&__form
			.form-text
				width: 290px
			input, textarea
				margin-left: 70px
			.text-agreement
				margin-left: 70px
	.wrapp-simple
		&__title
			font-size: 20px
	/**/

@media only screen and (max-width : 380px)
	.wrapp-banner
		&__title
			font-size: 26px
		&__sub-title
			font-size: 26px
	.owl-carousel
		.owl-item
			.item
				padding: 0
	.wrapp-form
		&__info
			&-text
				margin-left: 15px
		&__form
			input, textarea
				margin-left: 15px
			.text-agreement
				margin-left: 15px
	.wrapp-simple
		&__list
			padding: 50px 15px
			li
				padding-left: 35px
	/**/
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	.wrapp-banner
		&__title
			font-size: 24px
		&__sub-title
			font-size: 22px
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

